<div class="container">
    <h1>Update Faculty</h1>
   
    <a href="/post/index"  class="btn btn-primary">Back</a>
          
    <form [formGroup]="form" (ngSubmit)="submit()">
    
        <div class="form-group">
            <label for="pname">Student Name:</label>
            <input 
                formControlName="pname"
                id="pname" 
                type="text" 
                [(ngModel)]="post.pname"
                class="form-control">
            <div *ngIf="f['pname'].touched && f['pname'].invalid " class="alert alert-danger">
            <div *ngIf="f['pname'].errors && f['pname'].errors['required']">Name  is required.</div>
            </div>
        </div>
           
        <div class="form-group">
            <label for="ename"> Event:</label>
            <textarea 
                formControlName="ename"
                id="ename" 
                type="text" 
                [(ngModel)]="post.ename"
                class="form-control">
            </textarea>
            <div *ngIf="f['ename'].touched && f['ename'].invalid" class="alert alert-danger">
                <div *ngIf="f['ename'].errors && f['ename'].errors['required']">Required.</div>
            </div>
        </div>
         
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
