<div class="container">
    <h1>Student Details</h1>
  
    <a href="/post/index" routerLink="/post/index" class="btn btn-primary">Back</a>

    <div>
        <strong>ID:</strong>
        <p>{{ post._id }}</p>
    </div>
   
    <div>
        <strong>Event Name:</strong>
        <p>{{ post.ename }}</p>
    </div>
   
    <div>
        <strong>Student Name:</strong>
        <p>{{post.pname}}</p>
    </div>

    <div>
        <strong>Email:</strong>
        <p>{{post.email}}</p>
    </div>

    <div>
        <strong>Phone:</strong>
        <p>{{post.phone}}</p>
    </div>
   
</div>
